.principal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
select {
    width: 100%;
    /* padding: 12px 20px; */
    margin: 8px 0;
    box-sizing: border-box;
}